{% extends 'base.html' %}
{% block content %}

<section class="content">
  <div class="row">
    <div class="col-12">

      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Individual column searching</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="table-responsive">
              <table id="example5" class="table table-bordered table-striped" style="width:50%">
                  <thead>
                    <tr>
                        <th>S/N</th>
                        <th>title</th>
                        <th>Date</th>
                        <th>President</th>
                        <th>Detail</th>
                        <th>Update</th>
                        <th>Delete</th>
                    </tr>
                  </thead>
                  <tbody>
                      {% for object in object_list %}
                      <tr>
                        <td>{{ forloop.counter}}</td>
                        <td>{{ object.title }}</td>
                        <td>{{ object.founder_date }}</td>
                        <td>{{ object.chairman }}</td>
                        <td><a href="{% url 'club-detail' object.id %}"><i
                            class="fa fa-eye-slash"></i>Detail</a></td>
                        <td><a href="{% url 'club-update' object.id %}"><i
                              class="fa fa-edit"></i>Update</a></td>
                        <td><a href="{% url 'club-delete' object.id %}"><i
                              class="fa fa-trash"></i>Delete</a></td>
                      </tr>
                      {% endfor %}
                    </tbody>
              </table>
            </div>
        </div>
        <!-- /.box-body -->
      </div>
     <!-- /.box -->      
    </div> 
  </div>
</section>
{% endblock content %}