{% extends "base.html" %}
{% block content %}

<div class="content-header">
  <div class="d-flex align-items-center">
    <div class="me-auto">
      <h3 class="page-title">Message Detail</h3>
      <div class="d-inline-block align-items-center">
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i></a></li>
            <li class="breadcrumb-item" aria-current="page">{{title}}</li>
            <li class="breadcrumb-item active" aria-current="page">detail</li>
          </ol>
        </nav>
      </div>
    </div>
    
  </div>
</div>

<section class="content">
    <div class="row">
      <div class="col-xl-4 col-12">
        <div class="box">
          <div class="box-header">
            <h4 class="box-title">{{data.date}}</h4>
          </div>

          <div class="box-body">
            {{data.message}}
        </div>
        </div>
      </div>
    </div>
</section>

{% endblock content %}